#main-title-container .header-container{
    top: 100px;
    opacity: 0;
}

#header-nav a:nth-child(1) {
    top: -50px;
    opacity: 0;
}
#header-nav a:nth-child(2) {
    top: -100px;
    opacity: 0;
}
#header-nav a:nth-child(3) {
    top: -150px;
    opacity: 0;
}
#header-nav a:nth-child(4) {
    top: -200px;
    opacity: 0;
}
#header-nav a:nth-child(5) {
    top: -250px;
    opacity: 0;
}
#header-nav a:nth-child(6) {
    top: -300px;
    opacity: 0;
}

.navigation-container .brand-logo {
    opacity: 0;
}

#main-animation {
    opacity: 0;
}

.header-container.header-double-padding {
    padding-top: 120px;
}

p.pre-line {
    white-space: pre-line;
}

@media only screen and (max-width: 1440px) {
    .navigation-link {
        padding: 30px 6px;
        font-size: 1.15vw;
    }
}