$services-background-gradient: linear-gradient(180deg, #f2f4f8, #fff);
$services-text: #1f2631;
$main-text: #070f1a;
$additional-text: #95979b;
$clients-background: #f2f4f8;
$orange: #fd8274;
$case-studies-background: #f2f4f8;

$contact-background: linear-gradient(135deg, #52e3ed, #5fe6b8);
$main: white;
$default: #f8f9fa;
$additional: lightgray;
$shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
