$navbar-height: 110px !default;
$light-color: #03fcf5;
$light-blue: #53fffa;
$mobile: 800px;
$laptop: 1400px;
$medium: 1000px;
$dark-color: #191919;
$font-color: #070f1a;
$content-gap: 20px;
$section-gap: 50px;
$title-gap: 100px;

$main-grid: 950px;
$radius: 20px;
$circle: 50px;
