.benefits {
  width: 100%;
  margin: $content-gap auto;
  text-align: center;

  &-content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: $section-gap auto 0;
    padding: $content-gap;
    background-color: $default;
    border-radius: $radius;

    &-item {
      width: 150px;
      border-radius: 20px;

      &-description {
        width: 100%;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}
