.categories {
  margin: $section-gap auto $title-gap;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-item {
    width: 16%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    z-index: 10;

    &-wrapper {
      width: 100px;
      height: 100px;
      margin: 0 auto 10px;

      .icons-wrapper {
        background-color: $default;
      }
    }

    p {
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
    }
  }
}

.category {
  &-item {
    width: 200px;
    height: 100%;

    p {
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: $medium) {
  .categories {
    &-item {
      &-wrapper {
        width: 70px;
        height: 70px;
      }
    }
  }

  .category {
    &-item {
      width: 120px;

      p {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .categories {
    margin: $section-gap auto 0;
  }

  .category {
    &-item {
      margin: 0 auto;
    }
  }
}
