.categories {
  margin: $section-gap auto $title-gap;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-item {
    width: 16%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-wrap: wrap;
    z-index: 10;

    &-wrapper {
      width: 100px;
      height: 100px;
      margin: 0 auto $content-gap;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $default;
      border-radius: $circle;

      &-dot {
        width: 70px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: $circle;
        cursor: pointer;

        i {
          font-size: 30px;
          color: $additional;
        }

        &:hover {
          i {
            color: $main;
          }
        }
      }
    }

    p {
      width: 100%;
      text-transform: uppercase;
      text-align: center;
      font-weight: 600;
    }
  }
}

.category-green {
  &:hover {
    background-color: $green;
  }
}
.category-blue {
  &:hover {
    background-color: $blue;
  }
}
.category-yellow {
  &:hover {
    background-color: $yellow;
  }
}
.category-orange {
  &:hover {
    background-color: $orange;
  }
}
.category-pink {
  &:hover {
    background-color: $pink;
  }
}
.category-purple {
  &:hover {
    background-color: $purple;
  }
}
.category-prime {
  &:hover {
    background-color: $prime;
  }
}

@media only screen and (max-width: $medium) {
  .categories {
    &-item {
      &-wrapper {
        width: 70px;
        height: 70px;

        &-dot {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .categories {
    margin: $section-gap auto 0;

    &-item {
      &-wrapper {
        width: 70px;
        height: 70px;
        box-shadow: $shadow;

        &-dot {
          width: 50px;
          height: 50px;
        }
      }
    }
  }
}
