.circle-diagram {
  width: 100%;
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &-services {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    &-circle {
      width: 500px;
      height: 500px;
      display: flex;
      border: 2px dashed $additional;
      border-radius: $circle;
      animation: rotate 50s linear infinite;
    }

    &-rotate-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      left: 0;
      top: 42%;

      &:nth-child(1) {
        transform: rotate(90deg);
      }
    }

    &-wrapper {
      width: 100px;
      height: 100px;
      background-color: $main;
      border-radius: $circle;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-icons {
      width: 80px;
      height: 80px;
      background-color: $blue;
      border-radius: $circle;
    }
  }

  &-content {
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
  }

  &-technologies {
    width: 950px;
    height: 950px;
    display: flex;
    justify-content: center;
    align-items: center;

    &-circle {
      width: 900px;
      height: 900px;
      display: flex;
      position: absolute;
      border: 2px dashed $additional;
      border-radius: $circle;
      animation: rotate 50s linear infinite;
    }

    &-rotate-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      left: 0;
      top: 47%;

      &:nth-child(1) {
        transform: rotate(55deg);
      }

      &:nth-child(3) {
        transform: rotate(-55deg);
      }
    }

    &-wrapper {
      width: 55px;
      height: 55px;
      background-color: $main;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-icons {
      width: 30px;
      height: 30px;
      background-color: $green;
      border-radius: 50%;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: $medium) {
}

@media only screen and (max-width: $mobile) {
}
