.circle-diagram {
  width: 100%;
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;

  //services
  &-services {
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    &-circle {
      width: 500px;
      height: 500px;
      display: flex;
      border: 2px dashed $additional;
      border-radius: $circle;
      animation: rotate 50s linear infinite;
    }

    &-rotate-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      left: 0;
      top: 42%;
      z-index: 10;

      &:nth-child(1) {
        transform: rotate(90deg);
        .circle-diagram-services-icons {
          transform: rotate(-90deg);
        }
      }
    }

    &-wrapper {
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $main;
      border-radius: $circle;
    }

    &-icons {
      width: 80px;
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      cursor: pointer;

      i {
        font-size: 30px;
        color: $main;
      }
    }
  }

  //content
  &-content {
    width: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
  }

  //external
  &-external {
    width: 800px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    &-circle {
      width: 750px;
      height: 750px;
      display: flex;
      position: absolute;
      border: 2px dashed $additional;
      border-radius: $circle;
      animation: rotate 70s linear infinite;
    }

    &-rotate-wrapper {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: absolute;
      left: 0;
      top: 47%;

      &:nth-child(1) {
        transform: rotate(30deg);
      }

      &:nth-child(2) {
        transform: rotate(90deg);
      }

      &:nth-child(3) {
        transform: rotate(-30deg);
      }
    }

    &-wrapper {
      width: 55px;
      height: 55px;
      background-color: $main;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-icons {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: $medium) {
  .circle-diagram-external-circle {
    width: 690px;
    height: 690px;
  }
}

@media only screen and (max-width: $mobile) {
  .circle-diagram-services {
    width: 500px;
    height: 500px;

    &-circle {
      width: 420px;
      height: 420px;
    }

    &-wrapper {
      width: 80px;
      height: 80px;
    }

    &-icons {
      width: 65px;
      height: 65px;
    }

    &-rotate-wrapper {
      &:nth-child(1) {
        transform: rotate(60deg);

        .circle-diagram-services-icons {
          transform: rotate(-60deg);
        }
      }

      &:nth-child(2) {
        transform: rotate(120deg);
        .circle-diagram-services-icons {
          transform: rotate(-120deg);
        }
      }
    }
  }

  .circle-diagram-external {
    width: 650px;
    height: 650px;

    &-circle {
      width: 600px;
      height: 600px;
    }

    &-rotate-wrapper {
      top: 46%;

      &:nth-child(1) {
        transform: rotate(70deg);
      }

      &:nth-child(3) {
        transform: rotate(110deg);
      }
    }
  }
}
