.color-block {
  width: 100%;
  padding: $title-gap 0;

  &-title {
    color: $main;
  }

  &-description {
    padding: $content-gap 0 0;
    font-size: 20px;
    color: $main;
  }
}

.green {
  .color-block {
    background: $green-background;

    .title-section {
      h4,
      p {
        color: $main;
      }
    }
  }
}

.gray {
  .color-block {
    background-color: $default;
  }
}

.default {
  .color-block {
    background-color: $default;
  }
}

.main {
  .color-block {
    background-color: $main;
  }
}

@media only screen and (max-width: $mobile) {
  .color-block {
    padding: $title-gap 0 0;

    &-description {
      font-size: 15px;
    }
  }
}
