.color-block {
  width: 100%;
  padding: $section-gap 0;

  &-title {
    color: $main;
  }

  &-description {
    padding: $content-gap 0 0;

    font-size: 18px;
    color: $main;
  }
}

.green {
  .color-block {
    background: $green-background;
  }
}

.gray {
  .color-block {
    background-color: $default;

    &-title {
      color: $prime;
    }

    &-description {
      color: $prime;
    }
  }
}
