.green {
  &-block {
    width: 100%;
    padding: $section-gap 0;
    background: $green-background;

    &-title {
      color: $main;
    }

    &-description {
      padding: $content-gap 0 0;

      font-size: 18px;
      color: $main;
    }
  }
}
