.positions {
  width: 100%;
  padding: $section-gap 0;
  background-color: $default;
  text-align: center;

  &-content {
    margin: $section-gap auto;

    &-team {
      h5 {
        text-align: left;
        font-weight: 300;
        color: gray;
      }
    }
  }

  &-item {
    width: 100%;
    height: 100px;
    margin: $content-gap auto;
    padding: $content-gap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $main;
    border-radius: $radius;
    box-shadow: $shadow;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;

    &-icon {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-content {
      display: flex;
      align-items: center;
    }

    &-description {
      margin: 0 $content-gap;
    }
  }
}
