.post {
  margin: $section-gap 0 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: $radius;
  background-color: $main;

  &-image {
    width: 30%;
    height: 350px;
    background-color: $default;
    border-radius: $radius;

    img {
      border-radius: $radius;
      object-fit: cover;
    }
  }

  &-content {
    width: 65%;
    padding: 20px 0;

    h4 {
      margin: $content-gap 0 10px;
    }

    .profile {
      margin-bottom: 0;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .post {
    &-image {
      width: 100%;
    }

    &-content {
      width: 100%;
    }
  }
}
