.client-section {
  width: 100%;
  margin-bottom: $section-gap;

  &-wrapper {
    margin: $section-gap auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-image-item {
    width: 40%;
  }

  &-content {
    &-item {
      width: 55%;
    }
  }
}

@media only screen and (max-width: $medium) {
}

@media only screen and (max-width: $mobile) {
}
