.steps {
  margin-top: $section-gap;

  &-item {
    margin: $content-gap 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &-number {
      width: 30px;
      height: 30px;
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $main;
      background: $green-background;
      border-radius: 50%;
    }

    p {
      font-weight: 600;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .steps-item p {
    width: 100%;
    font-weight: 600;
  }
}
