.tags {
  width: 100%;
  display: flex;

  &-item {
    margin-right: 10px;
    padding: 5px;
    display: flex;
    align-items: center;
    border: 1px solid $additional;
    border-radius: 5px;

    p {
      margin-left: 5px;
      color: $additional;
      font-size: 12px;
    }

    &-image {
      width: 20px;
      height: 20px;
    }

    i {
      font-size: 20px;
    }
  }
}
