.tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &-tag {
    background: #eaeaec;
    margin-bottom: 10px;
    height: 32px;
    padding: 0 18px;
    border-radius: 23px;
    margin-right: 10px;
    font-size: 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: #9494a3;
    &:last-child {
      margin-right: 0px;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .tags {
    &-tag {
      font-size: 0.75rem;
    }
  }
}
