.team {
  width: 100%;
  margin-top: $title-gap;
  display: flex;
  flex-wrap: wrap;

  &-member {
    &-wrapper {
      width: 30%;
      height: 290px;
      margin: 10px;
      position: relative;
      overflow: hidden;
      display: flex;
      flex-direction: column;
    }

    &-image {
      width: 100%;
      height: auto;
      position: absolute;
      left: 0px;
      top: 0px;

      img {
        border-radius: $radius;
      }
    }

    &-content {
      width: calc(100% - 20px);
      margin: auto auto 15px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: $main;
      position: relative;
      border-radius: 15px;

      h6 {
        font-size: 14px;
      }
      p {
        font-size: 12px;
      }
      i {
        font-size: 20px;
      }
    }
  }
}
