.home {
  &-screens {
    margin: -450px auto 0;
  }

  &-header {
    height: 130vh;
    padding: 150px 0 200px;
    position: relative;
    overflow: hidden;
    background-color: $prime;

    &-background {
      width: 100%;
      position: absolute;
      left: 0px;
      top: 0px;
      z-index: 1;

      .orange-blobs {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -500px;
        top: -500px;
      }

      .green-blobs {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: -450px;
        bottom: -1000px;
      }
    }

    @keyframes rotation {
      from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(360deg);
      }
    }

    &-main {
      margin: 0 auto;
      display: flex;
      align-items: center;
      text-align: center;
      position: relative;
      z-index: 2;
      &-content {
        opacity: 0.85;

        p {
          margin: $content-gap 0 $section-gap;
          color: $main;
        }
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .home-header {
    height: 110vh;
  }
}

@media only screen and (max-width: $mobile) {
  .home {
    &-header {
      .link {
        width: 100%;
      }
      .toggle-animation {
        display: none;
      }

      &-background {
        .orange-blobs {
          right: -900px;
          top: -600px;
        }

        .green-blobs {
          left: -700px;
          bottom: -1000px;
        }
      }
    }

    &-screens {
      margin: -150px auto 0;
    }
  }
}
