.home-header {
  height: 100vh;
  background: white;
  padding-top: 220px;
  position: relative;
  .contact-link {
    margin-top: 20px;
  }
  &-img {
    width: 500px;
    position: fixed;
    left: 20px;
    top: 0vh;
  }

  .toggle-animation {
    width: 50px;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    z-index: 3;
    position: absolute;
  }
  &-background {
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;

    .orange-blobs{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      right: -500px;
      top: -500px;
      animation: rotation 50s infinite linear;
    }

    .green-blobs{
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      left: 200px;
      bottom: -700px;
      animation: rotation 50s infinite linear;
    }
  }

  @keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

  &-main {
    max-width: 920px;
    width: calc(100% - 50px);
    position: relative;
    z-index: 2;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    &-content {
      max-width: 700px;
      width: 100%;
      h1 {
        font-size: 10rem;
        max-height: 180px;
        font-weight: 500;
      }
      h2 {
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-weight: 500;
      }
      .text {
        font-weight: 300;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .home-header {
    height: auto;
    padding-top: 150px;
    padding-bottom: 80px;
    .link {
      width: 100%;
    }
    .toggle-animation {
      display: none;
    }
    &-main {
      &-content {
        h1 {
          font-size: 30px;
        }
        h2 {
          font-size: 28px;
        }
      }
    }
  }
}
