.home-team {
  width: 1100px;
  padding-bottom: 0;

  .section-header {
    margin-bottom: 0;
  }

  .team {
    width: 100%;
    margin: $content-gap 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &-member {
      &-wrapper {
        width: 23%;
        height: 250px;
        margin: 0 10px 20px;
        position: relative;
        overflow: hidden;
        display: flex;
        flex-direction: column;
      }

      &-image {
        width: 100%;
        height: auto;
        position: absolute;
        left: 0px;
        top: 0px;

        img {
          border-radius: $radius;
        }
      }

      &-content {
        width: calc(100% - 20px);
        margin: 0 auto;
        padding: 10px;
        background-color: $main;
        position: relative;
        top: 180px;
        border-radius: 15px;

        &-wrapper {
          display: flex;
          justify-content: space-between;
        }

        h6 {
          font-size: 14px;
        }
        p {
          font-size: 12px;
          text-align: start;
        }
        i {
          font-size: 20px;
        }
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .home-team {
    width: 90%;

    .team-member {
      &-wrapper {
        width: 35%;
        height: 250px;
      }
      &-content {
        top: 170px;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .home-team {
    width: 90%;

    .team-member {
      &-wrapper {
        width: 80%;
        height: 280px;
      }
      &-content {
        top: 200px;
      }
    }
  }
}
