.map-wrapper {
  width: 500px;
  height: 200px;
  border-radius: 20px;
}

.gm-style {
  .place-card-large {
    display: none;
  }
  .gm-style-cc a, .gm-style .gm-style-cc button, .gm-style .gm-style-cc span {
    display: none;
  }
}