.info {
  width: 100%;
  margin-bottom: 250px;
  position: relative;

  &-wrapper {
    width: 90%;
    padding: $section-gap;
    border-radius: $radius;
    background: $green-background;
    h4 {
      margin-bottom: 10px;
      color: white;
    }

    p {
      margin: 10px;
      color: white;
    }

    &-map {
      &-block {
        width: 50%;
        height: 200px;
      }
    }

    &-contact {
      display: flex;
      align-items: center;

      img {
        width: 15px;
        height: auto;
        filter: invert(100%) sepia(3%) saturate(2%) hue-rotate(286deg)
          brightness(111%) contrast(100%);
      }
    }

    &-form {
      width: 50%;
      height: auto;
      position: absolute;
      right: 0;
      top: $section-gap;
      background: white;
      border-radius: $radius;
      box-shadow: $shadow;
      -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;
    }
  }
}
