.careers {
  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(135deg, #ea5385, #f8ea74);
    height: 400px;
    &-content {
      @extend .grid;
      * {
        color: white;
      }
      h1 {
        font-size: 60px;
        font-weight: 500;
      }
      p {
        font-size: 20px;
      }
    }
  }

  &-flex {
    @extend .grid;
    padding-top: 70px;
  }
  &-list {
    margin-bottom: 30px;
    &-title {
      font-size: 26px;
      margin-bottom: 20px;
      font-weight: 600;
    }
    &-item {
      border-bottom: 1px solid #3083ff;
      padding-bottom: 40px;

      margin-bottom: 40px;
      display: flex;
      align-items: center;
      &-link {
        text-decoration: none;
        width: 500px;
        font-size: 22px;
      }
      .tags {
        margin-left: auto;
      }
      &-arrow {
        margin-left: 50px;
        aside {
          width: 15px;
          height: 15px;
          border-top: 3px solid black;
          transform: rotate(45deg);
          border-right: 3px solid black;
        }
      }
    }
  }
}

.career-page {
  padding-top: 130px;

  &-flex {
    width: $component-width;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }
  &-body {
    flex: 1;
    padding-right: 80px;
  }
  .form {
    width: 40%;
    &-title {
      margin-bottom: 20px;
      font-size: 24px;
    }
  }
}

.tags {
  display: flex;
  align-items: center;
  &-tag {
    background: #eaeaec;
    height: 32px;
    padding: 0 18px;
    border-radius: 23px;
    margin-right: 15px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    color: #9494a3;
    &:last-child {
      margin-right: 0px;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .careers-header-content {
    h1 {
      font-size: 30px;
    }
    p {
      font-size: 14px;
    }
  }
}
