.privacy-policy {
  h1 {
    margin: 1.2rem 0 0.6rem;
  }

  h2 {
    margin: 0.8rem 0 0.4rem;
  }

  h3 {
    margin: 0.6rem 0 0.3rem;
  }

  ul {
    list-style: disc;
    padding-inline-start: 40px;
  }

  p {
    margin-bottom: 1rem;
  }

  .about-grid {
    margin-bottom: 4rem;
  }
}
