// @media only screen and (max-width: $mobile) {
//   .footer {
//     padding-left: 20px;
//     padding-right: 20px;
//     &-bottom {
//       flex-direction: column;
//       &-policy {
//         margin-top: 20px;
//       }
//     }
//   }
// }

.footer {
  width: 100%;
  padding: $section-gap 0 $content-gap;
  border-top: 2px solid $default;

  &-bottom {
    margin-top: $section-gap;
    border-top: 2px solid $default;

    &-section {
      margin-top: $content-gap;
      color: $additional-text;
      font-size: 10px;

      &-policy {
        a {
          color: $additional-text;
          text-decoration: none;
          margin-left: 10px;
        }
      }
    }
  }

  .list-items {
    .socials {
      .img {
        width: 30px;
        opacity: 0.3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
      }
    }
  }
}
