.footer {
  width: 100%;
  padding: 50px 0 20px; // $section-gap 0 $content-gap
  position: relative;
  bottom: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-top: 2px solid lightgray; //$default

  &-bottom {
    margin-top: 50px;
    border-top: 2px solid lightgray;
    margin-top: 20px; //$content-gap
    color: black; //$additional-text
    font-size: 10px;

    &-section {
      margin-top: 20px; //$content-gap
      color: black; //$additional-text
      font-size: 10px;

      &-policy {
        a {
          color: black; //$additional-text
          text-decoration: none;
          margin-left: 10px;
        }
      }
    }
  }

  .list-items {
    &-link {
      text-decoration: none;
      cursor: pointer;
    }

    .socials {
      .img {
        width: 30px;
        opacity: 0.3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
      }
    }
  }
}
