.case-studies {
  width: 100%;
  min-height: 500px;
  margin-bottom: $section-gap;

  &-wrapper {
    height: 500px;
    margin: 0 auto $section-gap;
    position: relative;
    display: flex;
    justify-content: space-between;
  }

  &-image-left {
    width: 90%;
    height: 90%;

    img {
      border-radius: $radius;
    }
  }

  &-image-right {
    width: 90%;
    height: 90%;
    position: absolute;
    right: 0;

    img {
      border-radius: $radius;
    }
  }

  &-content {
    &-left {
      width: 50%;
      padding: $section-gap ($section-gap - 10px);
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $case-studies-bg;
      border-radius: $radius;
    }

    &-right {
      width: 50%;
      padding: $section-gap;
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 10;
      background-color: $case-studies-bg;
      border-radius: $radius;
    }

    &-description {
      margin: 10px 0 40px;
      font-size: $description;
    }

    &-wrapper {
      width: 100%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      .tags {
        margin-bottom: $content-gap;
      }

      .tags-item {
        background-color: $main;
        color: $additional;
        border: none;
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .case-studies {
    &-image {
      &-left,
      &-right {
        width: 100% !important;
      }
    }
  }
}

@media only screen and (max-width: $mobile) {
  .case-studies {
    min-height: auto !important;
    margin: 0 !important;

    &-content {
      &-left,
      &-right {
        width: 100% !important;
      }
    }

    &-wrapper {
      height: auto !important;
      flex-wrap: wrap;
      justify-content: center;
      position: unset !important;
    }

    &-content {
      &-left,
      &-right {
        position: unset !important;
      }
    }

    &-image {
      &-left,
      &-right {
        display: none;
      }
    }
  }
}
