.services {
  width: 100%;
  height: 350px;
  background-color: $default;

  &-page {
    position: absolute;
    top: 0;
  }

  &-content {
    width: 100%;
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $default;
    border-radius: $radius;
    box-shadow: $shadow;

    &-item {
      width: 25%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: $radius;
      transition: 0.5s;
      border: none;
      cursor: pointer;

      &:hover {
        background: $contact-background;
        transform: scale(1.1);
      }
    }
  }

  &-intro {
    margin: $section-gap 0;
    padding: $section-gap 0;
    text-align: center;
    background-color: $default;
  }

  &-diagram {
    margin: 100px 0;
    height: auto;
    text-align: center;
  }
}
