.services {
  &-block {
    width: 100%;
    padding: $section-gap 0;
    background: $green-background;

    &-description {
      padding: $section-gap 100px;
      text-align: center;
      font-size: 18px;
      color: $main;
    }
  }

  &-content {
    width: 100%;
    margin: 50px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &-item {
      width: 49%;
      //height: 350px;
      margin: 10px 0;
      padding: $content-gap;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $main;
      border-radius: $radius;
      box-shadow: $shadow;
      cursor: pointer;

      &-info {
        width: 60%;
        color: $prime;

        i {
          font-size: 40px;
          margin-bottom: $content-gap;
        }

        h6 {
          text-transform: uppercase;
          font-size: 30px;
        }

        p {
          width: 100%;
          margin: $content-gap auto;
          display: none;
        }
      }

      &:hover {
        background: $prime;

        .services-content-item-info {
          h6 {
            font-size: 20px;
            color: $main;
          }

          p {
            font-size: 16px;
            color: $main;
            display: block;
          }
        }
      }
    }
  }

  &-intro {
    padding: 100px 0;
    text-align: center;
    background-color: $default;
  }

  &-diagram {
    height: auto;
    padding: 100px 0;
    text-align: center;
    background-color: $prime;

    h4,
    p {
      color: $main;
    }
  }

  &-technology {
    width: 100%;
    margin: $section-gap 0 0;
    background-color: $default;

    &-wrapper {
      width: 100%;
      padding: $section-gap 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    &-block {
      margin: $section-gap 0;
      padding: $content-gap;
      position: relative;
      text-align: center;
      background-color: $main;
      border-radius: 20px; //$radius;
      box-shadow: $shadow;

      &-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: -15px;
        left: 0;
      }
    }

    &-button {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: $green-background;
      border-radius: 50%;

      i {
        color: $main;
      }
    }
  }
}

.accordion {
  &-container {
    position: relative;
  }

  &-label {
    position: relative;
  }

  &-content {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
  }
}
