.clients {
  position: relative;

  &-flags-wrapper {
    width: 100%;
    margin: -$title-gap 0 $title-gap;
    display: flex;
    justify-content: center;

    .flags {
      width: 100px;
      height: 100px;
      background-color: transparent;
      transition: background-color 0.3s;
      cursor: pointer;

      i {
        font-size: 40px;
        color: $additional;
        transition: color 0.3s;
      }

      &:hover {
        background-color: $green;
        //background-color: transparent;

        i {
          color: $main;
        }
      }
    }
  }
}

@media only screen and (max-width: $medium) {
}

@media only screen and (max-width: $mobile) {
}
