.clients {
  position: relative;

  &-categories-wrapper {
    .section-alpha {
      .color-block {
        padding-bottom: 0;
      }
    }

    .section-beta {
      margin-bottom: $title-gap;
      .color-block {
        padding: 0;
      }
    }
  }

  &-flags-wrapper {
    width: 100%;
    margin: -$title-gap auto $title-gap;
    display: flex;
    justify-content: center;

    .flags {
      width: 100px;
      height: 100px;
      transition: background-color 0.3s;
      cursor: pointer;

      i {
        font-size: 40px;
        color: $additional;
        transition: color 0.3s;
      }

      &:hover {
        i {
          color: $main;
        }
      }
    }
  }

  &-list-wrapper {
    margin: $section-gap auto;
    display: flex;

    .home-clients-list {
      margin-left: $section-gap;

      &-item {
        width: 150px;
        background-color: $default;
      }
    }
  }
}

@media only screen and (max-width: $medium) {
  .clients {
    .gray .color-block {
      height: 300px;
    }
  }
}

@media only screen and (max-width: $mobile) {
  .clients {
    .gray .color-block {
      height: 100%;
      margin-bottom: 0;
    }

    &-categories-wrapper {
      .section-beta {
        margin: $section-gap 0;
      }
    }

    &-flags-wrapper {
      width: 90%;
      margin: -100px auto;
      justify-content: space-between;

      .flags {
        width: 40px;
        height: 40px;

        i {
          font-size: 20px;
        }
      }
    }

    &-list-wrapper {
      display: block;

      .home-clients-list {
        margin: 20px auto;
      }
    }
  }
}
