.clients {
  &-categories-wrapper {
  }

  &-flags-wrapper {
    width: 100%;
    display: flex;

    .flags {
      width: 100px;
      height: 100px;
      margin: -50px 0 100px;

      i {
        font-size: 40px;
      }

      &:hover {
        background-color: transparent;

        i {
          color: $additional;
        }
      }
    }
  }
}

@media only screen and (max-width: $medium) {
}

@media only screen and (max-width: $mobile) {
}
